<section class="libros-contenedor">
  <h1>Nuestro Catálogo de Libros</h1>

  <div class="grid-libros">
    <div class="libro">
      <img src="https://m.media-amazon.com/images/I/71ZCpKii3JL.jpg" alt="Love on the Brain">
      <h2>Love on the Brain</h2>
      <p>Ali Hazelwood</p>
    </div>

    <div class="libro">
      <img src="https://m.media-amazon.com/images/I/81xDH7H3s7L.jpg" alt="Check & Mate">
      <h2>Check & Mate</h2>
      <p>Ali Hazelwood</p>
    </div>

    <div class="libro">
      <img src="https://m.media-amazon.com/images/I/71+45XTR7RL._AC_UF1000,1000_QL80_.jpg" alt="Mate">
      <h2>Mate</h2>
      <p>Ali Hazelwood</p>
    </div>

    <div class="libro">
      <img src="https://m.media-amazon.com/images/I/71VprhrGkJL._UF894,1000_QL80_.jpg" alt="Bride">
      <h2>Bride</h2>
      <p>Ali Hazelwood</p>
    </div>
  </div>
</section>
