


<h1>Bienvenido querido lector</h1>
<br>
<p>En Letras & Sueños creemos que cada libro es una puerta a un nuevo mundo. Somos una librería apasionada por la lectura, dedicada a ofrecer una cuidada selección de títulos para lectores de todas las edades y gustos. Ya sea que busques una novela que te atrape desde la primera página, un clásico inolvidable, o una historia infantil para compartir en familia, aquí encontrarás el lugar perfecto para descubrir tu próxima lectura favorita.</p>
<br>

<section id="ofertas">
  <h2>Libros en oferta</h2>
  <div class="ofertas-contenedor">
    <div class="libro-oferta">
      <img src="https://m.media-amazon.com/images/I/812ywSalb4L.jpg" alt="Libro">
      <h3>Serás de Ana k.</h3>
      <p class="precio-original">De $540.00</p>
      <p class="precio-oferta">A $380.00</p>
    </div>
    <div class="libro-oferta">
      <img src="https://m.media-amazon.com/images/I/71VprhrGkJL._UF894,1000_QL80_.jpg" alt="Libro">
      <h3>Bride de Ali Hazelwood</h3>
      <p class="precio-original">De $530.00</p>
      <p class="precio-oferta">A $440.00</p>
    </div>
    <div class="libro-oferta">
      <img src="https://m.media-amazon.com/images/I/71+45XTR7RL._AC_UF1000,1000_QL80_.jpg" alt="Libro">
      <h3>Mate de Ali Hazelwood</h3>
      <p class="precio-original">De $640.00</p>
      <p class="precio-oferta">A $480.00</p>
    </div>
  </div>
</section>
