.sucursales-contenedor {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f2eb;
  border: 1px solid #d6d1b4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.sucursales-contenedor h1 {
  text-align: center;
  color: #483e1a;
  margin-bottom: 30px;
}

.sucursal {
  background-color: #fffef8;
  border: 1px solid #c2b898;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.sucursal h2 {
  margin-top: 0;
  color: #705f2a;
}

.sucursal p {
  margin: 5px 0;
  font-family: 'Times New Roman', Times, serif;
  color: #483e1a;
}
